<%- include('partials/head') %>
<%- include('partials/nav') %>

<h1>Welcome</h1>

<h2>Locations</h2>

<a href="/swf">Dogtopia South Waterfront</a>
<br />
<a href="/aaa"></a>AAA
<br />
<a href="/bbb"></a>BBB
<br />
<a href="/ccc"></a>CCC
<br />
<a href="/ddd"></a>DDD

<%- include('partials/footer') %>