<%- include('partials/head') %>
<%- include('partials/nav') %>

<div class="container-fluid">
    <h1>Welcome</h1>
    <br />
    <h2>Locations</h2>

    <a href="/swf">Dogtopia South Waterfront</a>
    <br /><br />
    <a href="/lo">Dogtopia Lake Oswego</a>
    <br /><br />
    <a href="/pearl">Dogtopia Pearl District</a>
    <br /><br />
    <a href="/cm">Dogtopia Cedar Mills</a>
    <br /><br />
    <a href="/sm">Dogtopia San Marcos</a>
</div>

<%- include('partials/footer') %>