<%- include('partials/head') %>

<div class="container-fluid">
    <h1 class="mb-2">Register New User</h1>
    <form action="/register" method="POST">
        <div class="m-1">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="username">
        </div>
        <div class="m-1">
            <label for="password">Password&nbsp;</label>
            <input type="password" name="password" id="password" placeholder="password">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>


<%- include('partials/footer') %>